{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MeSite{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        my head
    </header>
    <main>
        {% block content %}

        
        {% endblock content %} 
    </main>

    <footer>
        <p>&copy; 2025. Luxe</p>
    </footer>
</body>
</html>
